/*------------------------- General style -------------------*/

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*------------------------- Header --------------------------*/

.header {
    width: 95%;
    margin: auto;
    padding: 3rem 0;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px rgb(190, 187, 187) solid;
}

.header img {
    width: 10rem;
}

.header button {
    font-family: 'Libre Baskerville', sans-serif;
    font-size: .80rem;
    text-transform: uppercase;
    letter-spacing: 2.5px;

    cursor: pointer;
    background-color: transparent;
    border: none;
    font-weight: bold;
    opacity: 0.4;
}

.header button:hover {
    opacity: 1;
}

/*-------------------- Paints style --------------------------*/

.paints__container {
    max-width: 1440px;
    width: 95%;
    margin: 5rem auto 0 auto;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(250, 5px);
}

.paint__preview {
    display: flex;
    flex-direction: column;
}

.paint__image {
    width: 18rem;
    z-index: 0;
}

.paint__info {
    position: relative;
    margin: -7rem auto 0 auto;
    width: 15rem;
    z-index: 1;

    font-family: 'Libre Baskerville', sans-serif;
    color: rgb(255, 255, 255);
}

.paint__name {
    width: 91%;
    margin: 0 auto 8px auto;

    font-size: 1.5rem;
    font-weight: 800;
    line-height: 1.875rem;
}

.paint__artist {
    width: 91%;
    margin: 0 auto 0 auto;
    font-size: .75rem;
}

/*------------ Grid paint positions -----------------*/

.grid_cell_1 .paint__info {
    margin-top: -5rem;
}

.grid_cell_3 .paint__info {
    margin-top: -5rem;
}

.grid_cell_5 {
    grid-row: 51 / auto;
}

.grid_cell_6 {
    grid-column: 2 / 3;
    grid-row: 78 / auto;
}

.grid_cell_7 {
    grid-column: 3 / 4;
    grid-row: 57 / auto;
}

.grid_cell_8 {
    grid-column: 4 / 5;
    grid-row: 51 / auto;
}

.grid_cell_9 {
    grid-row: 117 / auto;
}

.grid_cell_10 {
    grid-column: 2 / 3;
    grid-row: 133 / auto;
}

.grid_cell_10 .paint__info {
    margin-top: -5rem;
}

.grid_cell_11 {
    grid-column: 4 / 5;
    grid-row: 101 / auto;
}

.grid_cell_12 {
    grid-row: 197 / auto;
}

.grid_cell_13 {
    grid-column: 2 / 3;
    grid-row: 185 / auto;
}

.grid_cell_14 {
    grid-column: 3 / 4;
    grid-row: 151 / auto;
}

.grid_cell_14 .paint__info {
    margin-top: -5rem;
}

.grid_cell_15 {
    grid-column: 4 / 5;
    grid-row: 183 / auto;
}

.grid_cell_15 .paint__info {
    margin-top: -5rem;
}