/*------------------------- General style -------------------*/

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*------------------------- Header --------------------------*/

.header {
    width: 95%;
    margin: auto;
    padding: 3rem 0;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px rgb(190, 187, 187) solid;
}

.header img {
    width: 10rem;
}

.header button {
    font-family: 'Libre Baskerville', sans-serif;
    font-size: .80rem;
    text-transform: uppercase;
    letter-spacing: 2.5px;

    cursor: pointer;
    background-color: transparent;
    border: none;
    font-weight: bold;
    opacity: 0.4;
}

.header button:hover {
    opacity: 1;
}

/*-------------------- Paints style --------------------------*/

.paints__container {
    max-width: 1440px;
    width: 95%;
    margin: 5rem auto 0 auto;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(250, 5px);
}

.paint__preview {
    display: flex;
    flex-direction: column;
}

.paint__preview:hover {
    cursor: pointer;
    transform: scale(1.01);
}

.paint__image {
    width: 18rem;
    z-index: 1;
}

.paint__info {
    position: relative;
    margin: -7rem auto 0 auto;
    width: 15rem;
    z-index: 2;

    font-family: 'Libre Baskerville', sans-serif;
    color: #ffffff;
}

.paint__info::before {
    position: absolute;
    content: "";
    margin-left: -1.5rem;
    bottom: -1.8rem;
    width: 18rem;
    height: 7rem;
    
    background: linear-gradient(0deg, #000, transparent);
}

.paint__name {
    position: relative;
    width: 91%;
    margin: 0 auto 8px auto;
    z-index: 4;

    font-size: 1.5rem;
    font-weight: 800;
    line-height: 1.875rem;
}

.paint__artist {
    position: relative;
    width: 91%;
    margin: 0 auto 0 auto;
    z-index: 5;

    font-size: .75rem;
}

/*------------ Grid paint positions -----------------*/

.grid_cell_1 .paint__info {
    margin-top: -5rem;
}

.grid_cell_3 .paint__info {
    margin-top: -5rem;
}

.grid_cell_5 {
    grid-row: 51 / auto;
}

.grid_cell_6 {
    grid-column: 2 / 3;
    grid-row: 78 / auto;
}

.grid_cell_7 {
    grid-column: 3 / 4;
    grid-row: 57 / auto;
}

.grid_cell_8 {
    grid-column: 4 / 5;
    grid-row: 51 / auto;
}

.grid_cell_9 {
    grid-row: 117 / auto;
}

.grid_cell_10 {
    grid-column: 2 / 3;
    grid-row: 133 / auto;
}

.grid_cell_10 .paint__info {
    margin-top: -5rem;
}

.grid_cell_11 {
    grid-column: 4 / 5;
    grid-row: 101 / auto;
}

.grid_cell_12 {
    grid-row: 197 / auto;
}

.grid_cell_13 {
    grid-column: 2 / 3;
    grid-row: 185 / auto;
}

.grid_cell_14 {
    grid-column: 3 / 4;
    grid-row: 151 / auto;
}

.grid_cell_14 .paint__info {
    margin-top: -5rem;
}

.grid_cell_15 {
    grid-column: 4 / 5;
    grid-row: 183 / auto;
}

.grid_cell_15 .paint__info {
    margin-top: -5rem;
}

/*------------------ SLIDE STYLE -----------------------*/
.slides__container {
    max-width: 1330px;
    height: 50rem;
    position: relative;
    margin: auto;
    display: flex;

    overflow: hidden;
}

.slide {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    margin: 5rem auto 0 auto;
    padding: 1rem;
    justify-content: center;
    font-family: 'Libre Baskerville', sans-serif;

    transition: transform 2s;
}

.slide_large_img {
    width: 30rem;
}

.slide_small_img {
    display: none;
}

.icon__link {
    position: relative;
    width: 10rem;
    display: flex;
    margin: -5rem 0 0 1rem;
    padding: 1rem 0.8rem;
    justify-content: space-evenly;
    z-index: 2;

    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
}

.icon__img {
    width: .9rem;
}

.icon__link:hover {
    cursor: pointer;
    background-color: rgba(100, 98, 98, 0.7);
}

.view_link {
    font-size: .8rem;
}

.paint_title {
    display: flex;
    width: 110rem;
    margin-left: -4rem;
    flex-direction: column;
    justify-content: space-between;
}

.paint__details {
    width: 100%;
    margin: 0 auto;
    padding: 3rem;
    text-align: center;
    background-color: #ffffff;
}

.detail_paint_name {
    width: 100%;
    font-size: 3.5rem;
}

.detail_paint_artist {
    font-size: .93rem;
    margin-top: .9rem;
}

.artist__img {
    position: absolute;
    bottom: -5rem;
    width: 8rem;
    margin: 0 0 0 6rem;
}

.paint__description_container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.paint__year {
    margin: 0 0 0 auto;
    font-size: 12.5rem;
    color: rgba(178, 175, 175, 0.2);
}

.paint__description {
    width: 65%;
    line-height: 2rem;
    margin: -7.5rem auto 0 auto;
    font-size: .9rem;
}

.paint_description_link {
    font-size: .61rem;
    word-spacing: 2.5px;
    margin: 1rem 0 0 7.2rem;
    color: #000;
    opacity: 0.5;
}

.paint_description_link:hover {
    opacity: 1;
}

/*--------------------Footer Slide ------------------------*/

.footer__container {
    position: relative;
    display: none;
    max-width: 1330px;
    width: 100%;
    height: 7rem;
    padding: 0 3rem;
    margin: auto;

    justify-content: space-between;
    align-items: center;
    font-family: 'Libre Baskerville', sans-serif;
}

.footer__progress__bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    width: 6.66%;
    background-color: #000;   
}

.footer_paint_name {
    font-size: 1.9rem;
}

.footer_paint_artist {
    margin-top: .50rem;
    font-size: .75rem;
    font-weight: 100;
}

.sliders {
    width: 8rem;
    display: flex;
    justify-content: space-around;
}

.sliders img {
    width: 2rem;
}

.sliders img:hover {
    cursor: pointer;
    transform: scale(1.1);
    opacity: 0.7;
}

/* --------- CLASSES TO MAKE IMAGE MODAL WORK ----------*/

.hidden {
    display: none;
}
  
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    height: 100%;

    padding: 0.3rem;
    border-radius: 5px;
    z-index: 10;
}

.modal img {
    width: 100%;
    height: 100%;
}
  
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
}